html{
    height: 500%;
    background-color: #EDEDED;
    overflow-x: hidden;
}

#dvLoading
	{
	   background: #cf2424 url(images/loader.gif) no-repeat center center;
	   height: 100%;
	   width: 100%;
	   position: fixed;
	   z-index: 1000;
	}
.nav {
    
    height: 80px;
    background: #cf2424;
    width: 100%;
   
}

.nav img{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 100px;
    margin-top: 17px;
}
.nav ul {
    margin:0;
    padding:0;
    overflow: hidden;
    margin-right: 40px;
}
.nav ul li {
    list-style:none;
}


.nav ul li a {
    text-decoration: none;
    float: right;
    display: block;
    padding: 32px 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.nav ul li a:hover {
    color: lightgrey;
}

.navn{
    text-decoration: none;
    float: left;
    display: block;
    padding: 26px;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
    
}

#signOut{
    font-size: 23px;
    margin-top: -2px;
}


#side-menu{
    width: 250px;
    float: left;
    margin-left: -250px;
    margin-top: 15px;
    height: 400px;
    background-color: white;
    border: 1px solid #d5d5d5;
}

#profile{
    height: 10.7em;
    background-color: #cf2424;
    border: 1px solid #d5d5d5;
}


#brukernavn{
    text-align: center; 
    font-weight: 600;
    font-size: 17;
    margin-top: 2.5em;
    color: white;
}
#userRole {
    display: block;
    text-align: center;
    margin-left: -2.5em;
    font-weight: 600;
    font-size: 17;
    color: white;
}

#list-role p:first-letter{
    text-transform: uppercase;
}

#changePB{
    font-size: 14px;
    font-weight: 500;
    margin-top: 3.5em;
    margin-left: 1em;
}

#pb-file{
   float: right; 
   margin-right: -4.5em;
   margin-top: -2.5em;
}

.postClass{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form{
    background-color: white;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #d5d5d5;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}
form {
    margin-bottom: 60px;
}

#list-pb img{
    height: 65px;
    margin-left: -5px;
    margin-top: 15px;
    width: auto;
}


.form textarea{
    font-family: Microsoft Sans Serif, Verdana;
    font-weight: 500;
    overflow: auto;
    border: none;
    resize: none;
    margin-left: 130px;
    top: -85px;
    position: relative;

}

#post-file{
    margin-left: 40px;
    position: relative;
    top: 13px;
}

.form button{
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    padding: 6px 8px;
    color: #fff;
    border: none;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    font-size: 12px;
    font-weight: 600;
    display: block;
    cursor: pointer;
}

#tekstboks{
    height: 110px;
    width: 500px;
    border-bottom: 1px solid #C2C2C2;
}

#list-posts {
    width: 512px;
    word-wrap: break-word;
    padding: 0;
    margin-left: -4px;
}

#list-posts img {
    width: 400px;
    height: auto;
}

#feedCell{
    background-color: white;
    border: 1px solid #d5d5d5;
}

#profilBilde img{
    height: 65px;
    margin-left: 0px;
    margin-top: 5px;
    width: auto;
}

#feedCell h4{
    margin-left: 110px;
    margin-top: -65px;
    font-size: 18px;
    font-weight: 500;
}

#feedCell h5{
    margin-left: 112px;
    margin-top: -20px;
    margin-bottom: 3em;
    font-weight: 400;
    color: grey;
    font-size: 15px;
}

#feedCell p{
    font-size: 17px;
    font-weight: 300;
    margin-left: 5px;
    
}

#post{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

#like-comment{
    padding: 0;
    height: 30px;
    width: 500px;
    margin-left: -3px;
    background-color: white;
    border-top: 1px solid #d5d5d5;
    padding-top: 8px;
}

i[name="likeIconPressed"]{
    position: absolute;
    margin-left: 20px;
    margin-top: -2px;
    font-size: 30px;
    color: #cf2424;
    cursor: pointer;
}

i[name="likeIcon"]{
    position: absolute;
    margin-left: 20px;
    margin-top: -2px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

#like-comment h4{
    font-size: 17px;
    font-weight: 300;
    margin-left: 65px;
    display: inline;
}

#like-comment p{
    display: inline;
    font-size: 17px;
    font-weight: 300;
    margin-left: 230px;
}

/*
#like-comment span{
    background: #cf2424;
    color: white;
    font-size: 13px;
    height: 30px;
    width: 100px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10px;
    left: -125px;
    display:none;
    z-index: 2;

}

#like-comment h4:hover span{
    display:block;

}
*/

#all-comments{
    margin-bottom: 15px;
}

#commentSection{
    width: 500px;
    height: 50px;
    margin-left: 5px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    
}

#commentIcon{
    position: absolute;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 30px;
    color: #b4b4b4;
}

#commentSection textarea{
    font-family: Microsoft Sans Serif, Verdana;
    font-weight: 500;
    font-size: 15px;
    overflow: auto;
    resize: none;
    margin-top: 7px;
    margin-left: 70px;
    border: 1px solid #d5d5d5;
    position: relative;
    height: 27px;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 10px;
}

#commentSection button{
    float: right;
    margin-right: 15px;
    margin-top: 11px;
    padding: 4px 5px;
    color: #fff;
    border: none;
    background-color: #01baef;
    border-bottom: 3px solid #00a7d7;
    font-size: 11px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}


#request{
    position: absolute;
    width: 15em;
    float: right;
    background-color: #34495e;
    top: 0;
    right: 0;
    margin-top: 6em;
}

#request-heading{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 2em;
}

#all-requests{
    float: right;
    height: 5em;
    width: 15em;
}

#all-requests p{
    color: white;
}

.comments{
    width: 485px;
    margin-left: 5px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    padding-left: 15px;

}

#profilBildeC img{
    height: 35px;
    width: auto;
    padding-top: 5px;
}

.comments h4{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
    float: left;
    margin-top: -33px;
    padding-left: 55px;
}

/*
.comments h5{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    float: left;
    padding-top: 2px;
    float: right;
    padding-right: 10px;
}

*/
.comments p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    margin-top: -32px;
    padding-bottom: 10px;
    margin-left: 280px;
    display: block;
    word-wrap: break-word;
}
