html{
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

#dvLoading
	{
	   background:#000 url(images/loader.gif) no-repeat center center;
	   height: 100%;
	   width: 100%;
	   position: fixed;
	   z-index: 1000;
	}

	
.nav{
    width: 100%;
    height: 100px;
    background-color: #cf2424;
    z-index: 25;
    position: fixed;
    border-bottom: 1px solid #b62929;
    top: 0;
    overflow-x: hidden; 
}

.nav img{
    height: 80px;
    width: auto;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.navn{
    text-decoration: none;
    float: right;
    display: block;
    margin-top: 30px;
    margin-right: 70px;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    
}

.app{
    display: none;
    
}

#first {
    width: 100%;
    height: 470px;
    background-color: #cf2424;
    margin-top: 80px;
    /*
    background-image: url("./img/forsidebilde.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    */
}

#first img{
    width: auto;
    height: 500px;
    float: left;
    left: 0;
    margin-left: 10px;
    position: absolute;
}

#info{
    width: 500px;
    height: 400px;
    float: right;
    text-align: center;
    margin-top: 60px;
    margin-right: 50px;
}


#first h1{
    width: 400px;
    font-size: 30px;
    color: white;
    z-index: 11;
    font-weight: 400;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#first p{
    width: 300px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#first h2{
    width: 500px;
    font-size: 24px;
    color: white;
    z-index: 11;
    position: absolute;
    margin-top: 295px;
    font-weight: 300;
}

#stores{
    width: 550px;
    height: 100px;
    margin-top: -60px;
}

#stores img{
    width: 234px; 
    height: auto;
    float: left;
    right: 0;
    top: 0;
    position: relative;
    margin-top: 54px;
    margin-left: 25px;
}

#stores svg{
    float: right;
    margin-right: 25px;
}

#second{
    width: 100%;
    height: 350px;
    background-color: white;
}

#second iframe{
    height: 350px;
    width: 650px;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#third{
    width: 100%;
    height: 180px;
    background-color: white;
    right: 0;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

#sitat{
    width: 500px;
    height: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#sitat img{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 25px;
    margin-left: -20px;
}

#sitat p{
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    color: black;
    padding-top: 25px;
}


#third h4{
    float: right;
    font-size: 12px;
    font-weight: 300;
    margin-top: -15px;
    margin-right: 15px;
}


#fifth{
    width: 100%;
    height: 760px;
    background-color: #eafdf8;
    right: 0;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

#statsios{
    width: 400px;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

#statsios h3{
    font-size: 23px;
    font-weight: 100;
    padding-top: 10px;
}

#statsios h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: -10px;
}

#statsios p{
    font-size: 23px;
    font-weight: 200;
}

#statsmac{
    float: left;
    padding-top: 520px;
    width: 100px;
    margin-left: -270px;
}

#chart{
    font-size: 60px;
    float: left;
    margin-top: 100px;
}

#statsmac h2{
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    width: 200px;
    margin-top: 100px;
    margin-left: 100px;
}


#iosStat{
    width: 300px;
    height: auto;
    float: left;
}


#macStat{
    width: 400px;
    height: auto;
    float: right;
    margin-top: 100px;
    margin-right: 30px;
}

#sixth{
    height: 600px;
    right: 0;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    width: 100%;
    background-color: #d0e3cc;
    bottom: 0;
}

#androidrep{
    width: 300px;
    height: auto;
    float: left;
}

#information{
    float: right;
    margin-right: 170px;
    padding-top: 160px;
}
#sign {
    width: 45px;
    font-size: 40px;
    float: left;
    padding-top: -15px;
    margin-left: 25px;
}

#inbox, #map, #slider{
    margin-top: 20px;
}

#pun{
    float: left;
    margin-top: -20px;
    margin-left: 10px;
}

#pun h2{
    font-size: 15px;
    font-weight: 400;
    margin-top: 49px;
}

#seventh{
    display: none;
}

#topFoot{
    display: none;
}
#register{
    display: none;
}


#eighth{
    background-color: #d0e3cc; 
    height: 230px;
    width: 100%;
    top: 0;
    bottom: 0;
}

#mail{
    margin-top: -20px;
}
#mailIcon{
    font-size: 40px;
    margin-left: 20px;
    float: left;
}

#mail h5 {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    text-transform: uppercase;
    float: left;
    margin-left: 30px;
    margin-top: 9px;
}


#facebook{
    float: right;
    margin-right: 80px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

#youtube{
    display: none;
}

#apple svg{
    height: 60px;
    width: auto;
    float: right;
    margin-top: 70px;
    margin-right: 60px;
}

#android{
    height: 91px;
    width: auto;
    float: left;
    margin-top: -3px;
    margin-left: 140px;
}
#eighth p{
    display: none;
    
}

