html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    height: 500%;
    background-color: #EDEDED;
    overflow-x: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
}

#dvLoading
	{
	   background: #cf2424 url(images/loader.gif) no-repeat center center;
	   height: 100%;
	   width: 100%;
	   position: fixed;
	   z-index: 1000;
	}

.nav {
    height: 79px;
    top: 0;
    background: #cf2424;
    width: 100%;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #b62929;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 1); 
}

#logo{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 50px;
    margin-top: 17px;
}
.nav ul {
    margin:0;
    padding:0;
    overflow: hidden;
    margin-right: 40px;
}
.nav ul li {
    list-style:none;
}


.nav ul li a {
    text-decoration: none;
    float: right;
    display: block;
    padding: 32px 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.nav ul li a:hover {
    color: lightgrey;
}

.navn{
    text-decoration: none;
    float: right;
    display: block;
    padding: 30px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}

#profile-pb img{
    height: 48px;
    width: auto;
    border-radius: 50%;
    border: 1px solid white;
    float: right;
    margin-top: 18px; 
}

#signOut{
    font-size: 23px;
    margin-top: -2px;
}

#side-menu{
    float: left;
    height: calc(100% - 79px);
    width: 150px;
    z-index: 50;
    position: fixed;
    background-color: #343434;
    color: white;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5); 
    top: 79px;
}

.wrapper {
    position: relative;
    float: right;
    top: 79px;
    width: calc(100% - 150px);
}

#top{
    width: 150px;
    text-align: center;
}

#top a{
    font-size: 30px;
    display: block;
    line-height: 30px;
    color: white;
    text-decoration: none; 
}

#top p{
    font-size: 17px;
    color: white;
    line-height: 30px;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
}