html{
    height: auto;
    padding-bottom: 200px;
}

.square{
    padding-top: 14px;
    padding-bottom: 9px;
}

#attendance{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
}

#attendance a{
    margin-right: 7px;
}
.box{
    width: 7px;
    height: 83px;
    top: 0;
    margin-top: -14px;
    background-color: #cf2424;
    float: left;
    border-right: 1px solid #484848;
}

#calBox, #survBox, #forBox, #teamBox, #dashBox{
    display: none;
}
#calendar:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
    margin-top: -1px;
}

#calendar:hover #calBox{
    display: block;
}

#calendar:hover a{
    margin-right: 8px;
}

#dashbord:hover{
    background-color: #5c5c5c;
}

#dashbord:hover #dashBox{
    display: block;
}

#dashbord:hover a{
    margin-right: 8px;
}

#survey:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
    margin-top: -1px;
}
#survey:hover #survBox{
    display: block;
}

#survey:hover a{
    margin-right: 8px;
}
#forberedelser:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
}
#forberedelser:hover #forBox{
    display: block;
}

#forberedelser:hover a{
    margin-right: 7px;
}

#team:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
    margin-top: -1px;
}
#team:hover #teamBox{
    display: block;
}

#team:hover a{
    margin-right: 8px;
}

#btm{
    width: 150px;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
}

.doubleWrap{
    margin-left: 50px;
}

svg[aria-label="A chart."] > g > g:last-child { pointer-events: none } 

@media all and (min-width: 1300px){
#piechart{
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}
}

@media all and (max-width: 1300px){
#piechart{
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 30px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}
}

@media all and (min-width: 1300px){
#list-player-attendance{
    width: 420px;
    float: left;
    background-color: white;
    margin-top: 30px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}
}

@media all and (max-width: 1300px){
#list-player-attendance{
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 30px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}
}

.membAttendance{
    width: 380px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid lightgrey;
}
#memberPb img{
    height: 48px;
    width: auto;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 25px; 
    float: left;
}

.membAttendance .text{
    float: left;
    margin-left: 20px;
    margin-top: 22px;
    width: 230px;
    height: 50px;
}

.membAttendance button{
    text-align: left;
    background-color: #fff;
    border: none;
    padding: none;
    margin: none;
    width: 220px;
    height: 30px;
    overflow-y: auto;
    word-break: break-all;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.membAttendance p{
    margin-top: 10px;
}

.charts{
    float: right;
    margin-top: 10px;
}

#list-singlePlayer-attendance{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 500;
	position: fixed;
	display: none;
}

.single-box{
	z-index: 1000;
	top: 100px;
	position: fixed;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	width: 500px;
	height: 550px;
	right: calc(50% - 250px);
	box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 1); 
    border-radius: 3px;
}

.event-box{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-bottom: 1px solid lightgrey;
}

#list-singlePlayer-attendance h3{
    float: left;
    margin-top: 10px;
}

#list-singlePlayer-attendance .button{
    float: right;
    background-color: #fff;
    border: none;
    padding: none;
    margin: none;
    width: 120px;
    height: 30px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 4px;
}

.top-box{
    margin-top: 0;
    width: 100%;
    height: 30px;
}

.comment-boxes{
    display: block;
    width: 100%;
    margin-top: 10px;
}

#list-singlePlayer-attendance h4{
    float: left;
    display: inline;
    width: 200px;
    color: black;
}

#list-singlePlayer-attendance .material-icons{ 
    background-color: white;
    border: none;
    padding: none;
    margin: none;
    float: right;
    display: inline;
    margin-right: 37px;
    cursor: pointer;
}


#list-singlePlayer-attendance .hidden-button{
    display: none;
}
#list-singlePlayer-attendance textarea{
    font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
    font-weight: 400;
    font-size: 15px;
    resize: none;
    width: 50%;
    height: 28px;
    border: 1px solid #d5d5d5;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
}

#list-singlePlayer-attendance p{
    float: left;
    width: 200px;
    color: grey;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 2px;
}

#event-link{
    width: 420px;
}

#event-box{
    background-color: white;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 1); 
    margin-top: 50px;
    height: 70px;
    border-radius: 3px;
    cursor: pointer;
}

#event-link i{
    color: #cf2424;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 15px;
}

#event-link h1{
    float: right;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    margin-top: 24px;
    color: black;
}

#event-link h3{
    color: grey;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

#noPlayers{
    padding: 20px 0px 20px 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}