html {
    /*
     background: url(../img/bakgrunn.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  background-color: #cf2424;
  font-family: Microsoft Sans Serif;
  font-weight: lighter;
}

.imac img{
    height: 25em;
    width: auto;
    margin-top: 22vh;
    margin-left: 10em;
}


h1, h3{
    font-size: 20px;
    font-family:  Helvetica Neue, Trebuchet MS, Verdana;
    font-weight: normal;
    
}

.klubbFor{
    _}


.klubb{
    float: right;
    margin-right: 16em;
    margin-top: -21em;
    background-color: #34495e;
    height: 20.5em;
    width: 23.5em;
    z-index: 15;
    position: relative;
    overflow: auto;

}

.klubbValg h3{
    color: white;
    width: 3.8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

#lagVelg button{
    float: right;
    margin-top: -4.5em;
    margin-right: 3em;
    padding: 3px 5px;
    color: #fff;
    border: none;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    font-size: 12px;
    display: block;
    cursor: pointer;
}

#lagVelg h4{
    color: white;
    margin-top: 1.5em;
    width: 18em;
    padding: 0.5em;
    border-bottom: 1px solid white;
}

.klubbFor{
    width: 8em;
    height: auto;
    float: right;
    display: block;
    margin-right: 24em;
    margin-top: -24em;
    margin-bottom: 1.5em;
    z-index: 25;
    position: relative;
}
