.square{
    padding-top: 14px;
    padding-bottom: 9px;
}

#dashbord{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
}

#dashbord a{
    margin-right: 7px;
}
.box{
    width: 7px;
    height: 83px;
    top: 0;
    margin-top: -14px;
    background-color: #cf2424;
    float: left;
    border-right: 1px solid #484848;
}

#repBox, #evBox, #forBox, #teamBox{
    display: none;
}
#rapporter:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
}

#rapporter:hover #repBox{
    display: block;
}

#rapporter:hover a{
    margin-right: 7px;
}

#evaluering:hover{
    background-color: #5c5c5c;
}
#evaluering:hover #evBox{
    display: block;
}a

#evaluering:hover a{
    margin-right: 7px;
}
#forberedelser:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
}
#forberedelser:hover #forBox{
    display: block;
}

#forberedelser:hover a{
    margin-right: 7px;
}

#team:hover{
    background-color: #5c5c5c;
    border-top: 1px solid #484848;
}
#team:hover #teamBox{
    display: block;
}

#team:hover a{
    margin-right: 7px;
}

#btm{
    width: 150px;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
}

/*=====================*\
|*      POSTCLASS      *|
\*=====================*/

.postClass{
    width: 40vw;
    max-width: 500px;
    display: table;
    margin-left: 15%;
}

.form{
    background-color: white;    
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    height: 200px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}

#tekstboks{
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    height: 80px;
    width: calc(100% - 48px);
    border-bottom: 1px solid #C2C2C2;
}

#list-pb img{
    height: 64px;
    border-radius: 32px;
    width: auto;
}

.form textarea{
    font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    /*border-color: #C7C4C4;*/
    width: calc(100% - 96px);
    height: 44px;
    resize: none;
    margin-left: 78px;
    top: -64px;
    position: relative;
    padding: 8px;
    border: none;

}

#post-file{
    margin-left: 24px;
    position: relative;
    top: -4px;
}

#list-group{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#groupSet{
    height: 30px;
    width: 44%;
    margin-top: 5px;
    display: inline-table;
    margin-bottom: 10px;
}

#groupSet select{
    width: 130px;
    display: inline-block;
}

#group{
    float: left;
    font-size: 25px;
    margin-right: 10px;
    display: inline-block;
}

#info{
    float: right;
    font-size: 20px;
    display: inline-block;
    margin-top: 2px;
    cursor: pointer;
}

#group-info{
    display: none;
}

#groupSet i:hover + #group-info{
    display: block;
    position: fixed;
    top: 0;
    margin-top: 180px;
    left: 0;
    margin-left: 600px;
    z-index: 100;
    width: 200px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}

#button{
    height: 30px;
    width: 100px;
    float: right;
    margin-right: 22px;
    margin-top: -40px;
}

#button button{
    padding: 6px 8px;
    position: absolute;
    z-index: 10;
    color: #fff;
    border: none;
    background-color: #D94842;
    border-bottom: 3px solid #A0332F;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
}

#button img{
    height: 30px;
    width: auto;
    position: relative;
    z-index: 1;
    float: right;
}

#feedPost {
    border-radius: 5px;
}

#feedCell{
    background-color: white;
    border: 1px solid #d5d5d5;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0px;
    margin-top: -15px;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}

#list-posts img {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    margin-bottom: 16px;
}


#profilBilde img{
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-left: -7px;
}

#feedCell h4{
    margin-left: 64px;
    margin-top: -60px;
    font-size: 17px;
    color: #2D2D2D;
}

#feedCell h5{
    margin-left: 65px;
    margin-top: 7px;
    font-size: 17px;
    color: #707070;
    display: inline-block;
}

#feedCell h6{
    display: inline-block;
    margin-left: 25px;
    font-size: 15px;
}

#feedCell i{
    float: right;
    margin-top: -20px;
    cursor: pointer;
    font-size: 20px;
}

#feedCell p{
    font-size: 17px;
    font-weight: 300;
    margin-left: 5px;
    line-height: 25px;
    margin-top: 32px;
    margin-bottom: 16px;
}

#like-comment{
    padding: 0;
    height: 32px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #d5d5d5;
    padding-top: 8px;
    padding-bottom: 8px;
    clear:both;
}

#like-comment img {
    height: 100%;
    width: auto;
    float: left;
}

#like-comment h4{
    font-size: 17px;
    font-weight: 300;
    margin: 12px 0 0 16px;
    float: left;
}

#like-comment p{
    font-size: 17px;
    font-weight: 300;
    margin: 6px 0;
    float: right;
}


#all-comments{
    margin-bottom: 40px;
    background-color: #f7f7f7;
    border: 1px solid #d5d5d5;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
}

#commentSection{
    height: 50px;
    margin-left: 20px;
    clear:both;

}

#commentIcon{
    position: absolute;
    margin-top: 7px;
    margin-left: 16px;
    font-size: 30px;
    color: #b4b4b4;
    float: left;
}

#commentSection textarea{
    font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
    font-weight: 400;
    font-size: 15px;
    resize: none;
    width: calc(100% - 180px);
    margin-top: 4px;
    margin-left: 64px;
    height: 28px;
    border: 1px solid #d5d5d5;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
}

#commentSection button{
    float: right;
    z-index: 10;
    position: absolute;
    margin-left: -10px;
    margin-top: 8px;
    color: #fff;
    border: none;
    background-color: #D94842;
    border-bottom: 3px solid #A0332F;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 15px;
}

.cmt-btn{
    width: 80px;
    height: 30px;
    float: right;
}

#request{
    position: absolute;
    width: 15em;
    float: right;
    background-color: #34495e;
    top: 0;
    right: 0;´
    margin-top: 6em;
}

#request-heading{´
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 2em;´
}

#all-requests{
    float: right;
    height: 5em;
    width: 15em;
}

#all-requests p{
    color: white;
}

.comments{
    margin: 0 4px;
    background-color: #f7f7f7;
    border-top: 1px solid #d5d5d5;
    overflow: hidden;
}

#profilBildeC {
    float: left;
}

#commentTextC {
    float: left;
    width: calc(100% - 72px);
    margin-left: 64px;
    margin-top: -68px;
}

#profilBildeC img {
    margin: 12px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.comments h4{
    font-size: 15px;
    font-weight: 700;
    float: left;
    margin: 8px 0px 0px 8px;
}


.comments h5{
    font-size: 15px;
    font-weight: 500;
    float: right;
    margin: 8px 8px 0px 0px;

}

.comments p{
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    margin: 28px 8px 16px 8px;
}


/*=====================*\
|*        EVENT        *|
\*=====================*/

#event{
    width: 300px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
    top: 0;
    margin-left: 60vw;
    margin-top: 60px;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    text-align: center;
}

#event h2{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
}


#event h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}


#event h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    color: #696969;
}

#event i{
    font-size: 60px;
    color: #cf2424;
    text-align: center;
    margin-top: 5px;
}

#event p{
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#event img{
    height: 40px;
    width: auto;
}

#event .attendanceInfo{
    width: 100%;
    height: 100px;
    margin-top: 40px;
}

#event .attendanceInfo #checked{
    display:inline;
    float: left;
    width: 33.3333333%;
}

#event .attendanceInfo #cancel{
    text-align: center;
    width: 33.3333333%;
    display:inline;
    float: left;
}


#event .attendanceInfo #warning{
    display:inline;
    float: left;
    width: 33.3333333%;
}

#event .attendance{
    width: 50%;
    height: 100px;
    display: inline;
    float: left;
    text-align: center;
    z-index: 10;
    margin-top: 30px;
    cursor: pointer;
}

#event #box1{
    z-index: 1;
    height: 110px;
    width: 90px;
    background-color: lightgrey;
    border: none;
    margin-left: 30px;
    margin-top: -80px;
}

#event #box2{
    z-index: 1;
    height: 110px;
    width: 90px;
    background-color: lightgrey;
    border: none;
    margin-left: 30px;
    margin-top: -95px;
}

#event textarea{
    font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
    font-weight: 400;
    font-size: 15px;
    resize: none;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 28px;
    border: 1px solid #d5d5d5;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
}

#event button{
    margin-top: 15px;
}




