html{
    background-color: #cf2424;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Microsoft Sans Serif;
}

#info{
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

#info h2{
    margin-top: 300px;
    font-size: 45px;
    font-weight: 400;
}

#info h3{
    font-size: 30px;
    font-weight: 400;
}

#info p{
    float: right;
    color: white;
}