
html {
    font-family: 'Helvetica Neue', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;

}

input{
    font-family: Helvetica Neue, Trebuchet MS, Verdana;
    
}
.footer1 {
    background-color: white;
    width: 100%;
    height: 9vh;
    position:fixed;
    bottom:0;
    text-align: left;
    line-height: 5em;
    opacity: 1;
    color:white;
}
.footer2 {
    background-color: white;
    width: 100%;
    height: 11vh;
    position:fixed;
    bottom:0;
    text-align: center;
    line-height: 5em;
}
#feedCell {
    background-color: white;
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}

