 body {
    background-color: #040916;
    color: white;
    background-color: white;
    color: black;
    margin: 16px;
 }


#header {
    height: 170px;
}

#header * {
    float: left;
    word-wrap: break-word;
    margin-top: 30px;
    text-align: center;
}

#header img {
    margin: 30px 30px 0px;
    width: 30%;
    max-width: 100px;
}

p {
    line-height: 20px;
}

li {
    list-style-type: decimal;
    line-height: 20px;
}

h1 {
    margin-top: 100px;
}